{% assign posts = site.categories['embedded-learning-log'] %}

> This post is part of a series where I log my experience getting into embedded software development. The overarching goal is to use the [ESP8266 RTOS SDK](https://docs.espressif.com/projects/esp8266-rtos-sdk) to learn how to operate my ESP8266 board using an RTOS and to learn how to integrate the [Memfault real-time SDK](https://docs.memfault.com/). Disclaimer: I work for Memfault as a full-stack engineer, mostly on web stuff. Here are the other posts in the series:

<blockquote>
  <ul>
    {% for post in posts %}
      {% if post.url != page.url %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <span>{{ post.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</blockquote>

---
