<div class="post-list">
  {% for post in include.posts %}
  <article class="post-entry">
    <h3 class="post-entry-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p class="post-entry-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time>
    </p>
    <p class="post-entry-excerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 200 }}</p>
  </article>
  {% endfor %}
</div>
