<article>
  <header>
    <h1>{{ include.post.title }}</h1>
    <nav>
      <a href="/atom.xml">RSS</a>
      <span>|</span>
      <a href="{{ site.repository_url }}/blob/master/{{ include.post.path }}">Edit on GitHub</a>
      <span>|</span>
      <a href="/">Read more of my posts</a>
    </nav>
    <p>
      <time datetime="{{ include.post.date | date_to_xmlschema }}"
        >{{ include.post.date | date: "%A, %B %-d, %Y" }}</time
      >
    </p>
  </header>
  {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
  <hr />
</article>
