$base-code-color: #222;
$base-content-color: #444444;
$base-font-family: 'Fira Sans', sans-serif;
$base-font-size: 16px;

$blue: #1558d6;
$purple: #6c3d9e;
$red: #f7567c;
$grey: #e6e6e6;

$body-padding: 2rem;

$code-font-size: 1rem;
$code-font-family: 'Fira Code';

$heading-anchor-base-color: $blue;
