$mono-font-family: ui-monospace, Menlo, Consolas, 'Liberation Mono', monospace;
$sans-font-family: 'Clear Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
  'Noto Sans', 'Helvetica Neue', Arial, sans-serif;

$base-font-family: $sans-font-family;
$heading-font-family: $base-font-family;
$base-font-size: 16px;
$mobile-font-size: 15px;
$small-mobile-font-size: 14px;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$body-horizontal-padding: 2rem;
$body-padding: 0.3rem $body-horizontal-padding $body-horizontal-padding;

$list-indent: 1.5em;

$code-font-size: 0.9em;
$code-font-family: $mono-font-family;
