@use 'sass:color';

@use 'variables' as var;

$heading-anchor-color: color.adjust(var.$heading-anchor-base-color, $lightness: 42%);

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    .heading-anchor {
      visibility: visible;
    }
  }
}

.heading-anchor {
  visibility: hidden;
  color: $heading-anchor-color;

  &:visited {
    color: $heading-anchor-color;
  }

  &:hover {
    color: var.$heading-anchor-base-color;
    text-decoration: underline;
  }

  &:focus {
    color: var.$red;
  }
}
