@import 'variables';

$heading-anchor-color: lighten($heading-anchor-base-color, 42%);

.heading-anchor {
  color: $heading-anchor-color;

  &:visited {
    color: $heading-anchor-color;
  }

  &:hover {
    color: $heading-anchor-base-color;
    text-decoration: underline;
  }

  &:focus {
    color: $red;
  }
}
