@import 'variables';

html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

* {
  box-sizing: inherit;
}

body {
  color: $base-content-color;
  hyphens: auto;
  min-height: 100vh;
  line-height: 1.6;
  margin: auto;
  max-width: 42rem;
  overflow-y: scroll;
  padding: $body-padding;
  box-shadow: $body-box-shadow;
}

img {
  max-width: 100%;
}

pre {
  overflow-x: auto;
}

hr {
  border: none;
  height: 1px;
  color: $grey;
  background-color: $grey;
}

a {
  text-decoration: none;
  color: $blue;

  &:visited {
    color: $purple;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $red;
  }
}
