@use 'variables' as var;

html {
  box-sizing: border-box;
  font-family: var.$base-font-family;
  font-size: var.$base-font-size;
  background-color: var.$black;
}

* {
  box-sizing: inherit;
}

body {
  background-color: var.$body-background-color;
  color: var.$base-content-color;
  hyphens: auto;
  min-height: 100vh;
  line-height: 1.6;
  margin: auto;
  max-width: 44rem;
  overflow-y: scroll;
  padding: var.$body-padding;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var.$black;
  line-height: 1.3;
  margin-bottom: 0.25em;

  + * {
    margin-top: 0;
  }
}

img,
svg {
  display: block;
  margin: auto;
  max-width: 100%;
}

pre {
  overflow-x: auto;
}

hr {
  border: none;
  height: 1px;
  color: var.$grey;
  background-color: var.$grey;
}

a {
  text-decoration: none;
  color: var.$blue;

  &:visited {
    color: var.$purple;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: var.$red;
  }
}
