@use 'variables' as *;

$syntax-comment: #999988;
$syntax-grey: #999999;
$syntax-string: #bb8844;
$syntax-number: #009999;
$syntax-name: #008080;
$syntax-type: #445588;
$syntax-function: #990000;

pre,
code {
  font-family: $code-font-family;
}

code.highlighter-rouge {
  background: #fff6f1;
  border: 1px solid #f7e5db;
  border-radius: 6px;
  padding: 0 4px;
  color: $base-code-color;
}

.highlight {
  background: #fff;
  font-size: $code-font-size;

  pre {
    padding: 0.9rem $body-horizontal-padding;
    background-color: rgba($grey, 0.2);
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-left: -$body-horizontal-padding;
    margin-right: -$body-horizontal-padding;
    color: $base-code-color;
  }

  .hll {
    background-color: #ffffcc;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1 {
    color: $syntax-comment;
    font-style: italic;
  }

  .cp {
    color: $syntax-grey;
    font-weight: bold;
  }

  .cs {
    color: $syntax-grey;
    font-weight: bold;
    font-style: italic;
  }

  .gh,
  .nb,
  .bp {
    color: $syntax-grey;
  }

  .k,
  .o,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .ow,
  .gs {
    font-weight: bold;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .gd {
    color: #000;
    background-color: #ffdddd;
  }

  .gi {
    color: #000;
    background-color: #ddffdd;
  }

  .ge {
    font-style: italic;
  }

  .gr,
  .gt {
    color: #aa0000;
  }

  .go {
    color: #888;
  }

  .gp,
  .nn {
    color: #555;
  }

  .gu {
    color: #aaa;
  }

  .kt,
  .nc {
    color: $syntax-type;
    font-weight: bold;
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $syntax-number;
  }

  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .s1,
  .ss {
    color: $syntax-string;
  }

  .na,
  .no,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $syntax-name;
  }

  .ne,
  .nf,
  .fm {
    color: $syntax-function;
    font-weight: bold;
  }

  .ni {
    color: #800080;
  }

  .nt {
    color: #000080;
  }

  .sr {
    color: #808000;
  }

  .w {
    color: #bbb;
  }
}
