@import 'variables';

pre,
code {
  font-family: $code-font-family;
}

.highlight {
  background: #ffffff;
  font-size: $code-font-size;

  & pre {
    padding: 0.9rem 1.1rem;
    border: 1px solid $base-content-color;
    color: $base-code-color;
  }

  .hll {
    background-color: #ffffcc;
  }

  /* Comment */
  .c {
    color: #999988;
    font-style: italic;
  }

  /* Error */
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  /* Keyword */
  .k {
    font-weight: bold;
  }

  /* Operator */
  .o {
    font-weight: bold;
  }

  /* Comment.Hashbang */
  .ch {
    color: #999988;
    font-style: italic;
  }

  /* Comment.Multiline */
  .cm {
    color: #999988;
    font-style: italic;
  }

  /* Comment.Preproc */
  .cp {
    color: #999999;
    font-weight: bold;
  }

  /* Comment.PreprocFile */
  .cpf {
    color: #999988;
    font-style: italic;
  }

  /* Comment.Single */
  .c1 {
    color: #999988;
    font-style: italic;
  }

  /* Comment.Special */
  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }

  /* Generic.Deleted */
  .gd {
    color: #000000;
    background-color: #ffdddd;
  }

  /* Generic.Emph */
  .ge {
    font-style: italic;
  }

  /* Generic.Error */
  .gr {
    color: #aa0000;
  }

  /* Generic.Heading */
  .gh {
    color: #999999;
  }

  /* Generic.Inserted */
  .gi {
    color: #000000;
    background-color: #ddffdd;
  }

  /* Generic.Output */
  .go {
    color: #888888;
  }

  /* Generic.Prompt */
  .gp {
    color: #555555;
  }

  /* Generic.Strong */
  .gs {
    font-weight: bold;
  }

  /* Generic.Subheading */
  .gu {
    color: #aaaaaa;
  }

  /* Generic.Traceback */
  .gt {
    color: #aa0000;
  }

  /* Keyword.Constant */
  .kc {
    font-weight: bold;
  }

  /* Keyword.Declaration */
  .kd {
    font-weight: bold;
  }

  /* Keyword.Namespace */
  .kn {
    font-weight: bold;
  }

  /* Keyword.Pseudo */
  .kp {
    font-weight: bold;
  }

  /* Keyword.Reserved */
  .kr {
    font-weight: bold;
  }

  /* Keyword.Type */
  .kt {
    color: #445588;
    font-weight: bold;
  }

  /* Literal.Number */
  .m {
    color: #009999;
  }

  /* Literal.String */
  .s {
    color: #bb8844;
  }

  /* Name.Attribute */
  .na {
    color: #008080;
  }

  /* Name.Builtin */
  .nb {
    color: #999999;
  }

  /* Name.Class */
  .nc {
    color: #445588;
    font-weight: bold;
  }

  /* Name.Constant */
  .no {
    color: #008080;
  }

  /* Name.Entity */
  .ni {
    color: #800080;
  }

  /* Name.Exception */
  .ne {
    color: #990000;
    font-weight: bold;
  }

  /* Name.Function */
  .nf {
    color: #990000;
    font-weight: bold;
  }

  /* Name.Namespace */
  .nn {
    color: #555555;
  }

  /* Name.Tag */
  .nt {
    color: #000080;
  }

  /* Name.Variable */
  .nv {
    color: #008080;
  }

  /* Operator.Word */
  .ow {
    font-weight: bold;
  }

  /* Text.Whitespace */
  .w {
    color: #bbbbbb;
  }

  /* Literal.Number.Bin */
  .mb {
    color: #009999;
  }

  /* Literal.Number.Float */
  .mf {
    color: #009999;
  }

  /* Literal.Number.Hex */
  .mh {
    color: #009999;
  }

  /* Literal.Number.Integer */
  .mi {
    color: #009999;
  }

  /* Literal.Number.Oct */
  .mo {
    color: #009999;
  }

  /* Literal.String.Affix */
  .sa {
    color: #bb8844;
  }

  /* Literal.String.Backtick */
  .sb {
    color: #bb8844;
  }

  /* Literal.String.Char */
  .sc {
    color: #bb8844;
  }

  /* Literal.String.Delimiter */
  .dl {
    color: #bb8844;
  }

  /* Literal.String.Doc */
  .sd {
    color: #bb8844;
  }

  /* Literal.String.Double */
  .s2 {
    color: #bb8844;
  }

  /* Literal.String.Escape */
  .se {
    color: #bb8844;
  }

  /* Literal.String.Heredoc */
  .sh {
    color: #bb8844;
  }

  /* Literal.String.Interpol */
  .si {
    color: #bb8844;
  }

  /* Literal.String.Other */
  .sx {
    color: #bb8844;
  }

  /* Literal.String.Regex */
  .sr {
    color: #808000;
  }

  /* Literal.String.Single */
  .s1 {
    color: #bb8844;
  }

  /* Literal.String.Symbol */
  .ss {
    color: #bb8844;
  }

  /* Name.Builtin.Pseudo */
  .bp {
    color: #999999;
  }

  /* Name.Function.Magic */
  .fm {
    color: #990000;
    font-weight: bold;
  }

  /* Name.Variable.Class */
  .vc {
    color: #008080;
  }

  /* Name.Variable.Global */
  .vg {
    color: #008080;
  }

  /* Name.Variable.Instance */
  .vi {
    color: #008080;
  }

  /* Name.Variable.Magic */
  .vm {
    color: #008080;
  }

  /* Literal.Number.Integer.Long */
  .il {
    color: #009999;
  }
}
